@import './settings/colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}

body {
    background-color: $generalBackground;
}

@mixin flexNcenterVertical {
    display: flex;
    align-items: center;
}

.header {
    @include flexNcenterVertical;
    justify-content: center;
    height: 2em;
    color:$altFont;
    font-size: 1.5em;
    font-weight: 100;
    background: $headerColor;
    background: linear-gradient(155deg, rgba(33,184,214,1) 0%, rgba(21,138,108,1) 100%);
}

.form {
    @include flexNcenterVertical;
    height: 2em;
    background-color: $formColor;
    &__searchIconBox {
        display: flex;
        justify-content: center;
        width: 3vw;
    }
    &__input {
        width:97vw;
    }
}

.contactsList { 
    &__div{
        @include flexNcenterVertical;
        justify-content: center;
    }
    &__li{
        height: 4em;
        @include flexNcenterVertical;
        justify-content: space-between;
        border-bottom: $borders 1px solid;
    }
    &__img{
        @include flexNcenterVertical;
        justify-content: center;
        border: 1.5px $borders solid;
        color: $borders;
        border-radius: 50%;
        height: 2.5em;
        width: 2.5em;
        margin:0 0.5em 0 0.3em;
    }
}

.hide {
    display: none;
}