* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}

body {
    background-color: #F0F0F0;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    color:white;
    font-size: 1.5em;
    font-weight: 100;
    background: rgb(33,184,214);
    background: linear-gradient(155deg, rgba(33,184,214,1) 0%, rgba(21,138,108,1) 100%);
}

.form {
    display: flex;
    align-items: center;
    height: 2em;
    background-color: white;
    &__searchIconBox {
        display: flex;
        justify-content: center;
        width: 3vw;
    }
    &__input {
        width:97vw;
    }
}

.contactsList { 
    &__div{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__li{
        height: 4em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: #C0C0C0 1px solid;
    }
    &__img{
        border: 1.5px #C0C0C0 solid;
        color: #C0C0C0;
        border-radius: 50%;
        height: 2.5em;
        width: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0 0.5em 0 0.3em;
    }
}